/* 404 Page */

@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
body,
html {
  min-height: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ccc;
  font-family: Muli, sans-serif;
  background-image: url("https://media.giphy.com/media/WVgOHto4Packo/giphy.gif");
  background-position: center;
  background-size: cover;
}
body:before, body:after {
  content: "";
  position: absolute;
}
body:before {
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  z-index: -1;
  background-size: cover;
  background-position: top center;
  background-image: url("https://media.giphy.com/media/WVgOHto4Packo/giphy.gif");
  -webkit-filter: blur(5px);
          filter: blur(5px);
  overflow: hidden;
}
body:after {
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  border: 1px solid #fefefe;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: overlay;
  z-index: -1;
}

.four-oh-four {
  text-align: center;
  padding: 0 4%;
}
.four-oh-four a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  color: #fefefe;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #fefefe;
}

h1 {
  margin: 0;
  font-size: 3em;
  letter-spacing: -1px;
}
